/* hero.vertical-card.css */

/* ── Contenedor ─────────────────────────────────────────────────────────── */
.hero--vertical-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fdfdfd;
  overflow: hidden;
  gap: 0;
}

/* ── Imagen vertical centrada ───────────────────────────────────────────── */
.hero--vertical-card .vcard__media {
  width: 82%;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;
}

.hero--vertical-card .vcard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  display: block;
}

.hero--vertical-card .vcard__placeholder {
  width: 100%;
  height: 100%;
}

/* ── Footer (arriba y abajo) ────────────────────────────────────────────── */
.hero--vertical-card .vcard__footer {
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: center;
  padding: 12px 0;
  gap: 4px;
  flex-shrink: 0;
}

.hero--vertical-card .vcard__footer--top {
  align-items: flex-start;
  padding: 12px 0px;
  width: 82%;
}

.hero--vertical-card .vcard__name {
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: .02em;
  color: #333;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: start;
  text-transform: uppercase;
}

.hero--vertical-card .vcard__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.hero--vertical-card .vcard__tag {
  color: #111;
  font-size: 10px;
  letter-spacing: 0.06em;
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
