.cookies-container {
    max-width: 900px;
    margin: 10vh auto 0 auto;
    padding: 20px;
    font-family: 'Inter Tight', sans-serif;
    color: #2c2c2c;
}

.cookies-title {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    font-size: 10vw;
    line-height: 10vw;
    font-weight: 500;
    color: #111;
    text-transform: uppercase;
    width: 100%;
}

.cookies-version {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}

.cookies-paragraph {
    margin: 0 0 20px;
    line-height: 1.6;
    text-align: justify;
    font-size: 14px;
}

.cookies-subtitle {
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0 15px;
    padding-bottom: 8px;
}

.cookies-subtitle-small {
    font-size: 16px;
    font-weight: 500;
    margin: 25px 0 10px;
    color: #333;
}

.cookies-list {
    padding-left: 12px;
    margin-bottom: 12px;
}

.cookies-list li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
    padding-left: 24px;
}

.cookies-list li::before {
    content: "→";
    position: absolute;
    left: 0;
    color: #444;
    font-size: 12px;
    line-height: 15px;
}

.cookies-list li strong {
    font-weight: 500;
    color: #2d2d2d;
}

.cookies-paragraph strong {
    font-weight: 500;
    color: #2d2d2d;
}

@media (max-width: 768px) {
    .cookies-container {
        padding: 15px;
    }

    .cookies-title {
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .cookies-subtitle {
        font-size: 1.2rem;
    }

    .cookies-subtitle-small {
        font-size: 1rem;
    }
}
